/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(75, 210, 255);
}

/* DEBUG */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    min-height: 30px;
    margin: 10px 0;
    background-color: darkorange;
    border: 2px dotted black



}


/* UTILITY */


/* HEADER */
header {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    min-height: 60px;
    height: 100%;
}

ul {
    list-style: none;

}

li {
    display: inline;
}

/* MAIN */

/* main {
    background-color: rgb(0, 255, 42);
} */

.flex-container-1 {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    max-width: auto;

}
.contenuto-1 {
    background-color: fuchsia;
    min-width: 500px;
    min-height: 400px;
    display: flex;
    border: dotted 2px black;
}

/* .altri-contenuti-container {
    display: flex;
    background-color: rgb(39, 9, 9);
    height: 800px;
} */

/* .contenuto-2 {
display:flex;
background-color: aqua;
height: auto;
width: auto;
} */

/* FOOTER */